<table class="table table-bordered">
    <tr>
        <th scope="col">Avg Peak HeartRate</th>
        <th scope="col">Avg Min Heartrate</th>
        <th scope="col">Avg Calories Burned</th>
        <th scope="col">Average Workout Duration</th>
        <th scope="col">Date Calculated</th>
    </tr>
  
    <% for (var i = 0; i < data.length; i++) { %>
      <tr>
        <td><%= data[i].avg_peak_hr %> BPM</td>
        <td><%= data[i].avg_min_hr %> BPM</td>
        <td><%= data[i].avg_cal_burned %> cal</td>
        <td><%= data[i].avg_workout_duration_minutes %> mins</td>
        <td><%= data[i].date_calculated %></td>
    </tr>    
    <% } %>
  </table>